
html, body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background: #fff;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
a:hover{
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;	
    font-family: 'Montserrat', sans-serif;
}	
p{
    margin:0;
    font-family: 'Raleway', sans-serif;
}
ul{
    margin:0;
    padding:0;
}
/*Bounce To Bottom*/
.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    color:#fff;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color:#fff;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*--start-h_menu--*/

/*--banner-bottom--*/
.banner{
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:530px;
}
/*--header--*/
.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.callbacks li {
    position: absolute;
    width: 100%;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li{
    position: relative;
    display: block;
    float: left;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
    bottom: -14%;
    z-index: 0;
    right: -5%;
}
.callbacks_tabs li{
    display: block;
    margin: 0.3em 0em;
}
/*----*/
.callbacks_tabs a{
    visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:12px;
    width:12px;
    display: inline-block;
    background:#333;
    border:3px solid #333;
    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background:#CFDC43;
    border:3px solid#CFDC43;
}
.banner-info {
    margin-top: 12em;
    text-align: center;
}
.banner-info h3 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.3em;
    text-transform: uppercase;
}
.banner-info p {
    font-size: 1.1em;
    color:#fff;
    margin-top: 0.7em;
    font-weight: 500;
}
.banner-info span {
    color:#CFDC43;
    font-size:1.15em;
    font-weight: 500;
}
/*-- welcome --*/
.welcome,.welcome-bottom{
    padding:5em 0;
}
h3.tittle{
    font-size:2.5em;
    color:#222;
    margin:0;
    text-align:center;
    text-transform:uppercase;
    font-weight:900;
}
/*-- welcome-bottom --*/
.welcome-bottom-grids{
    margin:3em 0 0;
}
.welcome-bottom-grid-left{
    float:left;
    width:50%;
}
.welcome-bottom-grid-right{
    float:right;
    width:50%;
}
.welcome-bottom-grid-left-g{
    position:relative;
}
.welcome-bottom-grid-left-gpos{
    position:absolute;
    top:0%;
    left:0%;
    width:70%;
    padding: 1.5em 1.5em 2em;
    background: rgba(213, 33, 80, 0.65);
    text-align: center;
    display: none;
}
.welcome-bottom-grid-left-gpos1{
    position:absolute;
    top:0%;
    right:0%;
    width:70%;
    padding: 1.5em 1.5em 2em;
    background: rgba(213, 33, 80, 0.65);
    text-align: center;
    display: none;
}
.welcome-bottom-grid-left-gpos h4,.welcome-bottom-grid-left-gpos1 h4{
    font-size:1.9em;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.welcome-bottom-grid-left-gpos p,.welcome-bottom-grid-left-gpos1 p{
    font-size: 0.9em;
    margin: 1em 0 2em;
    color: #fff;
    line-height: 1.8em;
}
.welcome-bottom-grid-right h5{
    font-size:1.5em;
    color:#E8BB2E;
    text-align:center;
    margin:1em 0 0;
    text-transform:capitalize;
}
.car-text h5{
    margin: 0em 0 0.5em 0;
    color: #CFDC43;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
}
.car-text {
    padding: 2em 2em;
    text-align: left;
}
.car-text  p{
    font-size: 0.95em;
    color:#777;
    margin:0;
    line-height:1.9em;
}
/*-- //welcome-bottom --*/
/*-- start tabs --*/
.news {
    padding: 6em 0;
    background-color: #f4f4f4;
}
.news-top {
    margin-top: 3em;
}
.news-01{
    position:relative;
}
.item_info a h3{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.item_info ul li {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 10px;
    vertical-align: middle;
    color: #fff;
    list-style:none;
}
.item_info ul li a{
    color: #B5B0B0;
}
.item_info ul li a:hover,.item_info ul li i:hover,.item_info a h3:hover{
    color:#CFDC43;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.item_info ul li i {
    color: #fff;
    margin-right: 10px;
}
.item_info {
    border: 1px solid rgba(39, 39, 41, 0.65);
    padding: 2em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
}
.resp-tabs-list,.resp-tabs-list1 {
    width: 100%;
    list-style: none;
    padding: 0;
    margin:0;
}
.resp-tab-item:first-child,.resp-tab-item1:first-child{
    border-left:none;
}

.resp-tab-item{
    background: none;
    font-size: 17px;
    cursor: pointer;
    width: 30%;
    padding: 17px 0px;
    display: inline-block;
    margin: 0 0px 0 0;
    text-align: center;
    list-style: none;
    float: left;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
}
.resp-tab-item span{
    font-size: 18px;
    color: #777;
    font-weight: 600;
}
.resp-tabs-container ,.resp-tabs-container1{
    padding: 0px;
    clear: left;
}
h2.resp-accordion,h2.resp-accordion1 {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-tab-content ,.resp-tab-content1{
    display: none;
}
h2.resp-accordion,h2.resp-accordion1 {
    font-size:1em;
    margin: 0px;
    padding: 10px 15px;
    background:#ffe71d;
    margin:10px 0;
    color:#30318b;
}
h2.resp-accordion:hover,h2.resp-accordion1:hover{
    background:#ffe71d;
    text-shadow: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
}

.resp-tab-item:first-child,.resp-tab-item1:first-child  {
    border-left: none;
}
.resp-tab-active,.resp-tab-active1 {
    background: #ffffff;
}
.resp-tab-active span{
    color: #fff;
}
/*-- stop tabs --*/

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width:30%;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 1.96em 0px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    width: 100%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: 1px solid #ddd;
}
li.resp-tab-item:hover {
    background-color: none;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: none;
    float: left;
    width:70%;
    clear: none;
}
.news-01 img {
    width: 100%;
}
.resp-vtabs .resp-tab-content {
    border: none;
}
.resp-vtabs li.resp-tab-active {
    border: none;
    border-right: none;
    background-color: #CFDC43;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;

}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
    display: none;
}
h2.resp-tab-active span.resp-arrow {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}
/*--Accordion-styles--*/
h2.resp-tab-active {
    background:#08538c!important;
}
/*--car-bottom --*/
.car-bottom {
    background: url(../images/car-bottom.jpg)no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:600px;
}
.car-bottom-right {
    float: right;
    padding: 0;
    margin-top: 9em;
}
.car-bottom-right h3 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 0.5em;
}
.car-bottom-right p {
    font-size: 0.95em;
    font-weight:500;
    color: #777;
    line-height: 1.9em;
    background-color: rgba(255, 255, 255, 0.82);
    padding: 1em;
    margin-top: 1em;
}
.morec1 {
    margin-top: 1.2em;
}
/* Bounce To Top */
.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 0.6em 1em;
    border: 2px solid #CFDC43;
    color:#CFDC43;
}
.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#CFDC43;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color:#fff;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.car-bottom-right h4{
    font-size: 1.4em;
    color: #CFDC43;
    margin-top: 0.7em;
    font-weight: 500;
}
.car-bottom-right span{
    font-size: 1.5em;
    font-weight: 500;
}
/*--typography--*/
.grid_5 h1, h2, h3, h4, h5, h6 {
    padding: 10px 0;
}
/*----top-move------*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 40px;
    height: 22px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--Responsive*--*/
@media (max-width:1366px){
    .banner {
        min-height: 506px;
    }
}
@media (max-width:1280px){
    .callbacks_tabs {
        bottom: -14%;
        z-index: 0;
        right: -3%;
    }
    .car-bottom {
        min-height: 524px;
    }
    .car-bottom-right {
        float: right;
        padding: 0;
        margin-top: 5em;
    }
    h3.tittle {
        font-size: 2.3em;
    }
    .car-text h5 {
        margin: 0em 0 0.5em 0;
        font-size: 1.6em;
    }

}
@media (max-width:1024px){
    .car-bottom {
        min-height: 431px;
    }
    .car-bottom-right {
        float: right;
        padding: 0;
        margin-top:2em;
    }
    .car-bottom-right h3 {
        font-size: 2.4em;
        color: #fff;
        margin-bottom: 0;
    }
    .banner {
        min-height: 418px;
    }
    .banner-info {
        margin-top: 10em;
    }
    .resp-vtabs .resp-tabs-list li {
        display: block;
        padding: 1.48em 0px !important;
    }
}
@media (max-width:991px){
    .car-bottom {
        min-height: 408px;
    }
    .banner {
        min-height: 313px;
    }
    .banner-info h3 {
        font-size: 2.5em;
    }
    .banner-info {
        margin-top: 6em;
    }
    .car-text h5 {
        margin: 0em 0 0.5em 0;
        font-size: 1.4em;
    }
    h3.tittle {
        font-size: 2.1em;
    }
    .item_info a h3 {
        font-size: 1.4em;
    }
    .resp-tab-item span {
        font-size: 15px;
    }
    .resp-vtabs .resp-tabs-list li {
        display: block;
        padding: 0.976em 0px !important;
    }
    .resp-vtabs .resp-tabs-container {
        padding: 0px;
        background: none;
    }
    .news {
        padding: 4em 0;
    }
}
@media (max-width:800px){
    .callbacks_tabs {
        bottom: -14%;
        z-index: 0;
        right: -1%;
    }
    .welcome-bottom-grids,.news-top {
        margin: 2em 0 0;
    }
    .welcome, .welcome-bottom {
        padding: 4em 0;
    }
    .container_banner{
        margin: 50px auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        max-height: 100px;
    }
}
@media (max-width:667px){
    .car-text h5 {
        margin: 0em 0 0em 0;
        font-size: 1.2em;
    }
}
@media (max-width:640px){
    .banner-info h3 {
        font-size: 2.2em;
    }
    .banner {
        min-height: 271px;
    }
    .banner-info p {
        font-size: 1em;
        color: #fff;
        margin-top: 0;
    }
    .welcome-bottom-grid-left {
        float: left;
        width: 82%;
    }
    .welcome-bottom-grid-right {
        float: left;
        width: 82%;
    }
    .resp-vtabs ul.resp-tabs-list {
        float: left;
        width: 100%;
    }
    .resp-vtabs .resp-tabs-container {
        float: left;
        width: 100%;
        clear: none;
    }
}
@media (max-width:480px){
    .banner-info h3 {
        font-size: 1.6em;
    }
    .banner {
        min-height: 221px;
    }
    .banner-info {
        margin-top: 4em;
    }
    .callbacks_tabs li {
        display: block;
        margin: 0.0em 0em;
    }
    .callbacks_tabs a:after {
        display: block;
        height: 10px;
        width: 10px;
    }
    .car-text {
        padding: 1em 0em;
    }
    .item_info {
        border: 1px solid rgba(39, 39, 41, 0.65);
        padding: 1em 2em;
    }
    .welcome, .welcome-bottom {
        padding: 3em 0;
    }
    .footer {
        padding: 1.5em 0 1.5em 0;
    }
}
@media (max-width:414px){
    .welcome-bottom-grids, .news-top {
        margin: 1em 0 0;
    }
}
@media (max-width:384px){
    h3.tittle {
        font-size: 2em;
    }
    .item_info a h3 {
        font-size: 1em;
    }
    .item_info {
        border: 1px solid rgba(39, 39, 41, 0.65);
        padding: 0.5em 1em;
    }
    .item_info ul li {
        display: inline-block;
        font-size: 0.9em;
        margin-right: 1px;
    }
    .car-bottom-right h3 {
        font-size: 2em;
        margin-bottom: 0;
        padding: 0;
    }
    .car-bottom-right p {
        font-size: 0.85em;
        background-color: rgba(255, 255, 255, 0.82);
        padding: 0.5em;
        margin-top: 0em;
    }
}
@media (max-width:375px){
    h3.tittle {
        font-size: 2em;
    }
    .car-text p,.ab-top-text p {
        font-size: 0.85em;
    }
}
@media (max-width:360px){
    .banner-info h3 {
        font-size: 1.2em;
        padding:0;
    }
    .banner-info p {
        font-size: 0.8em;
    }
    .banner {
        min-height: 137px;
    }
    .banner-info {
        margin-top: 3em;
    }
    .welcome, .welcome-bottom {
        padding: 2em 0;
    }
    h3.tittle {
        font-size: 1.7em;
    }
    .welcome-bottom-grid-left {
        float: left;
        width: 100%;
    }
    .welcome-bottom-grid-right {
        float: left;
        width: 100%;
    }
    .car-bottom-right span {
        font-size: 1.1em;
    }
    .car-bottom-right h3 {
        font-size: 1.6em;
        margin-bottom: 0;
        padding: 0;
    }
    .car-bottom-right h4 {
        font-size: 1.3em;
        margin-top: 0;
    }
    .hvr-bounce-to-top {
        padding: 0.4em 1em;
    }
    .car-bottom {
        min-height: 379px;
    }
    .item_info a h3 {
        font-size: 1em;
        margin: 0;
    }
    .item_info ul li {
        display: inline-block;
        font-size: 0.8em;
    }
}
/* info */
#divInfo{
    padding-top: 15px;
    width: 90%;
    position: relative;
    margin: 0 auto;
}
#divInfo h1{
    padding-left: 20px; 
    text-align: justify;
    position: relative;
    background: #FFE8E8;
}
#divInfo p{
    padding-left: 50px;
}
/*banner*/

.container_banner{
    margin:50px auto;
    width:100%;
    height:400px;
    overflow:hidden;
    position:relative;

}
.photo{
    position:absolute;
    animation:round 18s infinite;
    opacity:0;

}
@keyframes round{   
    25%{
        opacity:1;
    }
    40%{
        opacity:0;
    }
} 
img:nth-child(1){
    animation-delay: 12s
}
img:nth-child(2){
    animation-delay: 6s;
}
img:nth-child(3){
    animation-delay: 0s
}
